body {
    background-color: #ffffff;
}
#signin {
    background-color: #74A495;
}
h1 {
    background-color: #B0E5DC;
}
nav {
    background-color: #B0E5DC;
}
nav ul {
    list-style-type: none;
}
nav ul li {
    display:  inline-block;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdowncontent {
    display: none;
    position: absolute;
    background-color: #B0E5DC;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}
.dropdown:hover .dropdowncontent {
    display: block;
}
p:hover {
    background-color: #74A495;
}