#price {
    color: #f07877;
    text-align: center;
}
#basics {
    border-bottom: 3px solid #f07877;
    padding-bottom: 20px;
}
table {
    padding-bottom: 10%;
    border-collapse: collapse;
    width: 100%;
}
th {
    border-bottom: 3px solid #f07877;
    border-right: 3px solid #f07877;
    font-family: junction, sans-serif;
    font-weight: bold;
    color: #74A495;
    text-align: center;
}
th:last-child {
    border-right: 0px none #ffffff;
}
td:last-child {
    border-right: 0px none #ffffff;
}
td {
    border-right: 3px solid #f07877;
}
tr:nth-child(even) {
    background-color: #ffffff;
}