
form {
    padding-bottom: 10%;
}
legend{
    display:block;
    padding:5px;
    color:#B0E5DC;
	font-weight:bold;
	font-size:1.35em;
    background:#ffffff;
    text-decoration:none;
}
fieldset {
	border:3px solid #f07877;
	padding:15px;
}
#signinform {
	width:250px;
	padding: 15px;
	text-align:right;
}
#registerform {
	text-align:left;
}
#submitbutton {
	padding-left:20px;
}
a {
    text-decoration: none;
    color: #74A495;
}
a:hover {
    color: #B0E5DC;
}